/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Lobster&family=Mea+Culpa&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.cover {
    background-image: url('./imgs/test.jpeg');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: white;
}

.cover>h1 {
    font-family: 'Lora', serif;
    font-size: 3em;
    margin: 0;
    text-shadow: #218838 5px -4px 1em;
    
}

.bride, .groom {
    font-family: 'Lora', serif;
    text-align: center;
    margin: 20px 0;
    
}

.bride img, .groom img {
    
    width: 200px;
    height: 300px;
    border-radius: 100px;
    object-fit: cover;
}

.invitation, .tks, .rsvp, .messages {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.invitation>p{
    font-family: 'Lora', serif;
    font-size: large;
    text-align: center;
}
.invitation>h1{
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    text-align: center;
}

.invitation>h2{
    font-family: 'Lobster', cursive;
    font-size: x-large;
    text-align: center;
}

.tks>h3{
    font-family: 'Lobster', cursive;
    font-size: medium;
    text-align: center;
}

.tks>p{
    font-family: 'Lora', serif;
    font-size: large;
    text-align: center;
}

.tks>.countdown{
    display: flex;
    
    flex-direction: row;
    justify-content: space-evenly;
}

.timetag{
    display: grid;
    vertical-align: middle;
    border: 1px solid rgba(243, 137, 137, 0.25);
    border-radius: 4px;
    min-width: 3rem;
    width: fit-content;
    height: 4rem;
    font-family: 'Lobster', cursive;
    font-size: x-large;
    text-align: center;
    padding-top: 1rem;
}

.timetag::after{
    font-family: 'Lora', serif;
    font-size: large;
    text-align: center;
}
.timetag#lngay::after{
    content: "ngày";
}
.timetag#lgio::after{
    content: "giờ";
}
.timetag#lphut::after{
    content: "phút";
}.timetag#lgiay::after{
    content: "giây";
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#messagesList>li{
    border: 1px solid rgba(243, 137, 137, 0.25);
    border-radius: 5px; 
    list-style: url('./imgs/cmticon.png') outside; 
    margin-bottom: 20px;
    padding-left: 10px;
}

li>span{
    transform: translateY(-200%); 
    position: relative;
    display: block;
    height: fit-content;
    font-family: 'Lobster', cursive;
    font-size: small;
    margin: 0;
    
}
li>p{
    display: block;
    position: relative;
    transform: translateY(-100%); 
    height: fit-content;
    font-family: 'Lora', serif;
    font-size: medium;
    margin: 0;
    margin-left: 10px;
}
